:root {
  --dark-purple: #160040;
  --purple: #b27ed6;
  --dark-pink: #c62d70;
  --pink: #e657ab;
  --light-black: #1f1f1f;
  --white: #fefefe;
  --grey: #939192;
  --light-grey: #d8d8d8;
  --light-blue: #73bfe2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Tahoma", "Arial", 'Noto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
